<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <style>
        .button {
            background-color: #C00000;
            color: white;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            display: inline-block;
        }
    </style>
</head>
<body style="font-family: Arial, sans-serif; background-color: #f1f5f9; padding: 20px;">
    <div style="max-width: 600px; margin: auto; background-color: white; padding: 30px; border-radius: 8px;">
        <h2 style="text-align: center; color: #C00000;">BKSystem</h2>
        <h3>Xin chào!</h3>
        <p>Bạn đã nhận được email này vì chúng tôi nhận được một yêu cầu <strong>đặt lại mật khẩu </strong> cho tài khoản của bạn.</p>

        <p style="text-align: center;">
            <a href="https://youtu.be/dQw4w9WgXcQ?si=QBse2atAbns4GNUZ" class="button">Đặt lại mật khẩu</a>
        </p>

        <p>Link <strong>đặt lại mật khẩu</strong> sẽ hết hạn trong vòng 720 phút (12 giờ).</p>

        <p>Nếu bạn không gửi yêu cầu <strong>đặt lại mật khẩu</strong>, bạn không cần phải làm gì thêm.</p>

        <p>Thân ái,<br>BKSystem</p>

        <hr>
        <p style="font-size: 12px; color: gray;">
            Trong trường hợp nút bấm không hoạt động, click vào đường link phía dưới đây hoặc sao chép và dán nó vào trình duyệt của bạn:<br>
            <a href="https://youtu.be/dQw4w9WgXcQ?si=QBse2atAbns4GNUZ">Click vào đây</a>
        </p>
    </div>
    <p style="text-align: center; font-size: 12px; color: gray;">© 2025 BKSystem. All rights reserved.</p>
</body>
</html>